.login-page {
    position : absolute;
    width : 400px;
    height : 450px;
    background-color : white;
    top:50%; 
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 4px 4px gray;
    border-radius: 3px;
    text-align:center;
    
}

.login-wrap {
    padding : 1rem;
}

.login-title {
    padding : 1em 0 2em 0;
}

